<div>
    <span class="h3">List of Contents</span>
    <button class="mobile-view border-0 bg-light float-right pt-1" {{action this.toggleList}}>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
    </button>
    <nav class={{if this.toshowlist "listVisible" "listInvisible" }}>
        <ul>
            {{#each this.pageLists.items as |lists|}}
                <li>
                    <LinkTo @route="pages.page" @model={{lists.page_name}}>{{lists.title}}</LinkTo>
                </li>
            {{/each}}
        </ul>

        <input type="text" id="listField">
        <button type="button" {{action "addListContent" }}>Add</button>
    </nav>
</div>